.board {
  width: 80%;
  flex: 1 1 calc(100vh*2071/1413);
  width: calc(100vh*2071/1413);
  max-width: calc(100vh*2071/1413);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 220px;
  min-width: 300px;

  font-size: 1.7vh;
}

.boardBody {
  width: 100%;
  background-image: url(../assets/img/board1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 0;
  padding-top: calc(1413/2071*100%);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../assets/img/board-center.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

  }
}

// BOARD FIELDS
.boardFieldsContainer {
  position: absolute;
  width: 96.2%;
  height: 94.3%;
  top: 2.9%;
  left: 1.95%;
  z-index: 1;

  .playField {
    position: absolute;
    display: block;
    font-size: 100%;
    cursor: pointer;

    &.corner {
      width: 13.5542%;
      height: 20%;
    }

    &.top {
      width: 6.6265%;
      height: 20%;


      .color1 {
        background-image: url(../assets/img/1_top.png);
        top: -1.7%;
        left: 0.5px;
      }

      .color2 {
        background-image: url(../assets/img/2_top.png);
        top: -1.7%;
        left: 0.5px;
      }

      .color3 {
        background-image: url(../assets/img/3_top.png);
        top: -1.7%;
        left: 0.5px;
      }

      .color4 {
        background-image: url(../assets/img/4_top.png);
        top: -1.7%;
        left: 0.5px;
      }

      .color5 {
        background-image: url(../assets/img/5_top.png);
        top: -1.7%;
        left: 0.5px;
      }
    }

    &.bottom {
      width: 6.6265%;
      height: 20%;

      .color1 {
        background-image: url(../assets/img/1_bottom.png);
        left: 1.5px;
      }

      .color2 {
        background-image: url(../assets/img/2_bottom.png);
        left: 1.5px;
      }

      .color3 {
        background-image: url(../assets/img/3_bottom.png);
        left: 1.5px;
      }

      .color4 {
        background-image: url(../assets/img/4_bottom.png);
        left: 1.5px;
      }

      .color5 {
        background-image: url(../assets/img/5_bottom.png);
        left: 1.5px;
      }
    }

    &.right {
      width: 13.5542%;
      height: 9.9099%;

      .color1 {
        background-image: url(../assets/img/1_right.png);
      }

      .color2 {
        background-image: url(../assets/img/2_right.png);
      }

      .color3 {
        background-image: url(../assets/img/3_right.png);
      }

      .color4 {
        background-image: url(../assets/img/4_right.png);
      }

      .color5 {
        background-image: url(../assets/img/5_right.png);
      }
    }

    &.left {
      width: 13.5542%;
      height: 9.9099%;

      .color1 {
        background-image: url(../assets/img/1_left.png);
      }

      .color2 {
        background-image: url(../assets/img/2_left.png);
      }

      .color3 {
        background-image: url(../assets/img/3_left.png);
      }

      .color4 {
        background-image: url(../assets/img/4_left.png);
      }

      .color5 {
        background-image: url(../assets/img/5_left.png);
      }
    }

    .playerColor {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .flag {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .logo {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    .darker,
    .lock {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: block;
    }

    .fieldPrice {
      position: absolute;
      z-index: 2;
      font-weight: 500;
      font-size: 100%;
      color: #222;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }

    .shares {
      position: absolute;
      z-index: 2;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .accidential {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      text-align: center;
      color: rgba(0, 0, 0, .85);
      font-size: 100%;
      word-spacing: 100vw;

      font-weight: 900;
    }

    &.top {
      margin-top: .25%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center 5%;
        background-repeat: no-repeat;
        background-size: 50% 24.8%;
      }

      .logo {
        background-position: center 60%;
        background-repeat: no-repeat;
        background-size: 90% 36.2%;
      }

      .fieldPrice {
        width: 80%;
        text-align: center;
        bottom: 12%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .lock {
        &.active {
          background-image: url(../assets/img/lockMortgage.png);
          background-size: 100% 50%;
          background-position: 0 60%;
        }
      }

      .darker {
        top: -1.5%;

        &.active {
          background-image: url(../assets/img/darkTop.png);
        }
      }

      .shares {
        width: 90%;
        height: 17%;
        bottom: -3%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    &.right {
      margin-top: .35%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 24.55% 50%;
        background-position: 97% center;
      }

      .logo {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 45.5% 76%;
        background-position: 40% 13%;
      }

      .fieldPrice {
        width: 39%;
        text-align: center;
        bottom: 5%;
        left: 24%;
      }

      .lock {
        &.active {
          background-image: url(../assets/img/lockMortgage.png);
          background-size: 50% 100%;
          background-position: 39% 0;
        }
      }

      .darker {
        &.active {
          background-image: url(../assets/img/darkRight.png);
        }
      }

      .shares {
        width: 22%;
        height: 90%;
        text-align: center;
        left: 1%;
        top: 5%;
      }
    }

    &.bottom {
      margin-top: .25%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center 97%;
        background-repeat: no-repeat;
        background-size: 50% 24.8%;
      }

      .logo {
        background-position: center 40%;
        background-repeat: no-repeat;
        background-size: 90% 36.2%;
      }

      .fieldPrice {
        width: 80%;
        text-align: center;
        top: 12%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .lock {
        &.active {
          background-image: url(../assets/img/lockMortgage.png);
          background-size: 100% 50%;
          background-position: 0 40%;
        }
      }

      .darker {
        left: 2%;

        &.active {
          background-image: url(../assets/img/darkBottom.png);
        }
      }

      .shares {
        width: 90%;
        height: 17%;
        top: -1%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    &.left {
      margin-top: .25%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 24.55% 50%;
        background-position: 3% center;
      }

      .logo {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 45.5% 76%;
        background-position: 60% 13%;
      }

      .fieldPrice {
        width: 39%;
        text-align: center;
        bottom: 5%;
        right: 25%;
      }

      .lock {
        &.active {
          background-image: url(../assets/img/lockMortgage.png);
          background-size: 50% 100%;
          background-position: 61% 0;
        }
      }

      .darker {
        &.active {
          background-image: url(../assets/img/darkLeft.png);
        }
      }

      .shares {
        width: 22%;
        height: 90%;
        text-align: center;
        right: -1%;
        top: 5%;
      }
    }
  }
}


// CHIPS
.fieldChip {
  position: absolute;
  width: 3.6%;
  height: 5.77%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  z-index: 999;
  pointer-events: none;
  transition: all 1s ease-out;

  &.color_1 {
    background-image: url(../assets/img/field_chip1.png);
  }

  &.color_2 {
    background-image: url(../assets/img/field_chip2.png);
  }

  &.color_3 {
    background-image: url(../assets/img/field_chip3.png);
  }

  &.color_4 {
    background-image: url(../assets/img/field_chip4.png?5);
  }

  &.color_5 {
    background-image: url(../assets/img/field_chip5.png?3);
  }
}

.playerMainView {
  position: absolute;
  width: 39%;
  height: 57%;
  left: 14.8%;
  top: 21.7%;
  z-index: 90;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


#pmv {
  width: fit-content;
  height: fit-content;
  margin-top: 2%;

  & button {
    width: 100%;
    height: auto;
    display: block;
    margin: 5px;
    padding: 10px;
  }
}

.player {
  position: relative;
}

.bankruptPlayer {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    z-index: 1;
    pointer-events: none;
    transition: all 1s ease-out;

    background-image: url(../assets/img/red-cross.png);
  }

}

// SHARES

.shares1 {
  background-image: url(../assets/img/shares1.png);
}

.shares2 {
  background-image: url(../assets/img/shares2.png);
}

.shares3 {
  background-image: url(../assets/img/shares3.png);
}

.shares4 {
  background-image: url(../assets/img/shares4.png);
}

.shares5 {
  background-image: url(../assets/img/shares5.png);
}

.shares1v {
  background-image: url(../assets/img/shares1v.png);
}

.shares2v {
  background-image: url(../assets/img/shares2v.png);
}

.shares3v {
  background-image: url(../assets/img/shares3v.png);
}

.shares4v {
  background-image: url(../assets/img/shares4v.png);
}

.shares5v {
  background-image: url(../assets/img/shares5v.png);
}

.sharesKO1 {
  background-image: url(../assets/img/sharesKO1.png);
}

.sharesKO2 {
  background-image: url(../assets/img/sharesKO2.png);
}

.sharesCHN1 {
  background-image: url(../assets/img/sharesCHN1.png);
}

.sharesCHN2 {
  background-image: url(../assets/img/sharesCHN2.png);
}

.sharesCHN3 {
  background-image: url(../assets/img/sharesCHN3.png);
}

.sharesCHN4 {
  background-image: url(../assets/img/sharesCHN4.png);
}

// trade


.trade,
.mortgage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  // padding: 1% 0;

  font-size: 1rem;

}

#exitLockBtn {
  margin: 40% auto;
  display: block;
  padding: 3% 6%;
}

.trade__container {
  // margin: 1%;
  height: 100%;
}


.trade__top-player,
.trade__bottom-player {

  overflow-y: auto;
  height: 42%;
  margin-bottom: 1%;

  position: relative;
}

.trade__top-player {
  border-bottom: 3px solid #053a5f;
  border-radius: 1px;
}

#tradeClose {
  background-color: #fff;
  color: rgb(194, 0, 0);
  padding: 3%;
  height: 10%;
  width: 10%;
  text-align: center;
  cursor: pointer;

  position: absolute;
  z-index: 95;
  right: 2%;
}

#tradeSelectPlayer {
  margin: 0 auto;
  width: fit-content;
  display: block;
  margin: 1rem auto;
  // background: none;
  padding: 3% 6%;
  border-radius: 10%;
}

.trade__title {
  text-align: center;
}

#tradeBtn,
#makeOfferBtn {
  display: block;
  margin: 0 auto;
  padding: 3% 6%;
}

#tpCards,
#bpCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 10vh;
  padding: 1%;
}

#tpCards {
  .trade-card {
    border: 1px solid red;
  }
}

#bpCards {
  .trade-card {
    border: 1px solid green;
  }
}

.trade-card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #053a5f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tpRange,
#bpRange {
  border: none;
  box-shadow: none;
  padding: 4% 1%;
  display: block;
  margin: 1% auto 0 auto;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 75%;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -5px;
    background-color: #5cd5eb;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
  }

  &:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }
}

.range-value {
  position: absolute;
  top: 5%;
  left: 3%;
}

.concede-btn {
  background-color: #b30303;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border: solid 1px #d86100;
  outline: none;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  cursor: pointer;
  font-size: 100%;
  line-height: 1;

  padding: 1% 2%;
  position: absolute;
  top: 2%;
  right: 2%;
}


// gameover

.end-game {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: .8;
    z-index: 1000;
    top: -.1%;
  }
}

.winner {
  // background-image: url(../assets/img/wreath.png);
  // background-position: center center;
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
}

.winner__container {
  background-image: url(../assets/img/wreath.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 2rem auto;
  width: 43rem;
  height: 36rem;
  z-index: 1002;
  position: relative;

  padding-top: 5%;
}

.game-over__title {
  padding-top: 3%;
}

.game-over__title,
.winner__title {
  font-size: 250%;
  text-align: center;
  margin: 0 auto;
  color: #fffb00;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
}

.winner__name {
  font-size: 350%;
  font-weight: 600;
  text-align: center;
  margin: 7% auto 10.5% auto;
  color: #ff0000;

}

.winner__capital {
  font-size: 150%;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: auto auto;
  color: white;
}

.winner__time {
  font-size: 150%;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: auto auto;
  color: white;
}



// timer

#timer {
  position: absolute;
  top: 0%;
  right: 2%;

  width: fit-content;
  padding: 0 .4rem;

  text-align: center;

  background-color: #2d9641;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;

  outline: none;
  border-radius: 0.3em;

  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  cursor: pointer;
  font-size: 120%;
}

.fullScreenBtn {
  background-image: url(../assets/icons/fullscreen.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation: pulse 1s infinite alternate;
  animation: pulse 1s infinite alternate;

  position: absolute;
  width: 100%;
  height: 100%;
}

.open-full-screen {
  animation: none;
  -webkit-animation: none;
}

.fullScreenElem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  transition: perspective 2s;
  perspective: 1000px;
}

@-webkit-keyframes pulse {
  0% {
    transform: translateZ(0px)
  }

  100% {
    transform: translateZ(200px)
  }
}

@keyframes pulse {
  0% {
    transform: translateZ(0px)
  }

  100% {
    transform: translateZ(200px)
  }
}

// accept trade
.player-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.trade-accept__btns {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#yesBtn,
#noBtn {
  padding: 3% 6%;
  display: inline-block;
}