.board {
  width: 80%;
  flex: 1 1 calc(100vh*2071/1413);
  width: calc(100vh*2071/1413);
  max-width: calc(100vh*2071/1413);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 220px;
  min-width: 300px;

  font-size: 1.7vh;
}

.boardBody {
  width: 100%;
  background-image: url(../assets/img/board1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 0;
  padding-top: calc(1413/2071*100%);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../assets/img/board-center.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

// BOARD FIELDS
.boardFieldsContainer {
  position: absolute;
  width: 96.2%;
  height: 94.3%;
  top: 2.9%;
  left: 1.95%;
  z-index: 1;

  .playField {
    position: absolute;
    display: block;
    font-size: 100%;
    cursor: pointer;

    &.corner {
      width: 13.5542%;
      height: 20%;
    }

    &.top,
    &.bottom {
      width: 6.6265%;
      height: 20%;
    }

    &.right,
    &.left {
      width: 13.5542%;
      height: 9.9099%;
    }

    .playerColor {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .flag {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .logo {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    .darker,
    .lock {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: block;
    }

    .fieldPrice {
      position: absolute;
      z-index: 2;
      font-weight: 500;
      font-size: 100%;
      color: #222;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }

    .shares {
      position: absolute;
      z-index: 2;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .accidential {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      text-align: center;
      color: rgba(0, 0, 0, .85);
      font-size: 100%;
      word-spacing: 100vw;

      font-weight: 900;
    }

    &.top {
      margin-top: .25%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center 5%;
        background-repeat: no-repeat;
        background-size: 50% 24.8%;
        // background-image: url('https://ru.monopoly-club.com/images/flags/britain.png?1');
      }

      .logo {
        background-position: center 60%;
        background-repeat: no-repeat;
        background-size: 90% 36.2%;
        // background-image: url('https://ru.monopoly-club.com/images/logos/comp4.png?2');
      }

      .fieldPrice {
        width: 80%;
        text-align: center;
        bottom: 12%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .shares {
        width: 90%;
        height: 17%;
        bottom: -3%;
        left: 0;
        right: 0;
        margin: 0 auto;
        // background-image: url('https://ru.monopoly-club.com/images/shares/sharesCHN2.png');
      }
    }

    &.right {
      margin-top: .35%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 24.55% 50%;
        background-position: 97% center;
        // background-image: url('https://ru.monopoly-club.com/images/flags/britain.png?1');
      }

      .logo {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 45.5% 76%;
        background-position: 40% 13%;
        // background-image: url('https://ru.monopoly-club.com/images/logos/comp4.png?2');
      }

      .fieldPrice {
        width: 39%;
        text-align: center;
        bottom: 5%;
        left: 24%;
      }

      .shares {
        width: 22%;
        height: 90%;
        text-align: center;
        left: 1%;
        top: 5%;
        // background-image: url('https://ru.monopoly-club.com/images/shares/shares1v.png');
      }
    }

    &.bottom {
      margin-top: .25%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center 97%;
        background-repeat: no-repeat;
        background-size: 50% 24.8%;
        // background-image: url('https://ru.monopoly-club.com/images/flags/britain.png?1');
      }

      .logo {
        background-position: center 40%;
        background-repeat: no-repeat;
        background-size: 90% 36.2%;
        // background-image: url('https://ru.monopoly-club.com/images/logos/comp4.png?2');
      }

      .fieldPrice {
        width: 80%;
        text-align: center;
        top: 12%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .shares {
        width: 90%;
        height: 17%;
        top: -1%;
        left: 0;
        right: 0;
        margin: 0 auto;
        // background-image: url('https://ru.monopoly-club.com/images/shares/shares1v.png');
      }
    }

    &.left {
      margin-top: .25%;

      .flag {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 24.55% 50%;
        background-position: 3% center;
        // background-image: url('https://ru.monopoly-club.com/images/flags/britain.png?1');
      }

      .logo {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 45.5% 76%;
        background-position: 60% 13%;
        // background-image: url('https://ru.monopoly-club.com/images/logos/comp4.png?2');
      }

      .fieldPrice {
        width: 39%;
        text-align: center;
        bottom: 5%;
        right: 25%;
      }

      .shares {
        width: 22%;
        height: 90%;
        text-align: center;
        right: -1%;
        top: 5%;
        // background-image: url('https://ru.monopoly-club.com/images/shares/shares1v.png');
      }
    }
  }
}


// CHIPS
.fieldChip {
  position: absolute;
  width: 3.6%;
  height: 5.77%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  z-index: 999;
  pointer-events: none;
  transition: all 1s ease-out;

  &.color_1 {
    background-image: url(../assets/img/field_chip1.png);
    left: 2%;
    top: 2%;
  }

  &.color_2 {
    background-image: url(../assets/img/field_chip2.png);
    left: 7%;
    top: 4%;
  }

  &.color_3 {
    background-image: url(../assets/img/field_chip3.png);
    left: 5%;
    top: 7%;
  }

  &.color_4 {
    background-image: url(../assets/img/field_chip4.png?5);
    left: 8.5%;
    top: 10%;
  }

  &.color_5 {
    background-image: url(../assets/img/field_chip5.png?3);
    left: 2.5%;
    top: 12%;
  }
}

#gameChat {
  position: absolute;
  width: 31.6%;
  height: 57%;
  display: block;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 21.6%;
  left: 54%;
  z-index: 100;
  pointer-events: none;
  text-align: center;
}

.playerMainView {
  position: absolute;
  width: 39%;
  height: 57%;
  left: 14.8%;
  top: 21.7%;
  z-index: 90;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


#pmv {
  width: fit-content;
  height: fit-content;

  & button {
    width: 100%;
    height: auto;
    display: block;
    margin: 5px;
    padding: 10px;
  }
}