#start-page {

    background: $color_main-dark;
    box-shadow: 0 -200px 100px -120px rgb(129, 24, 85) inset;
    animation: background 5s infinite alternate;
}

@keyframes background {
    50% {
        background: rgb(16, 78, 102);
        box-shadow: 0 -200px 100px -100px rgb(13, 92, 17) inset;
    }
}

.game-page-button {
    margin: 0 auto;
    margin-top: 20%;

}