.header {
    @include flex-between();

    background-color: $color_main-dark;
    padding: 0em 2em;
    display: flex;
    flex-direction: row
}

.page-button-box {
    @include flex();
    flex-wrap: nowrap;
    justify-content: flex-end;

    width: 2vw;
    align-items: center;

    .block-button-sound {
        // width: 100%;
        cursor: pointer;
    }

    .button-sound {
        background-color: #ffcca7;
        border: solid 1px #835331;
        border-radius: 50%;
        width: 3vw;
        // position: relative;
        // left: 50%;
        background-image: url("../assets/img/SoundOff.jpg");
        // width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button-rules {
        background-color: #ffcca7;
        border: solid 1px #835331;
        border-radius: 50%;
        cursor: pointer;
        width: fit-content;
        height: 3vw;
        padding: 10% 30% 0% 30%;
        line-height: 2.2vw;
        white-space: nowrap;
    }

    .button-sound:hover {
        box-shadow: 1px 1px 10px #ffcca7;
    }

    .button-rules:hover {
        box-shadow: 1px 1px 10px #ffcca7;
    }

    .active {
        background-image: url("../assets/img/SoundOn.jpg");
    }
}

.header-logo {
    font-size: 4vw;
    color: rgb(13, 92, 17);
    letter-spacing: 4px;
    display: inline-block;
}