.players {
  width: 15%
}

.player {
  height: 20%;
  border: 1px solid #CB8C5F;
  font-size: 65%;
  box-shadow: 1px 1px 15px #714E35;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.picture-block {
  display: flex;
}

.name-block {
  display: flex;
}

.name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #81BE74;
}

.description-player h3 {
  color: #CB9C7C;
}

.description-player span {
  color: #CB8C5F;
}

.name-chip-block {
  position: relative;
  overflow: hidden;
  width: 60%;
}

.name-chip-block img {
  position: absolute;
  width: 610%;
  height: 200%;
  object-fit: cover;
}

.picture-player-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 50%;
  height: 50%;
}

.picture-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid black;
}

.red {
  border: 5px solid red;
}

.red-chip {
  left: -5%;
}

.blue {
  border: 5px solid blue;
}

.blue-chip {
  left: -130%;
}

.green {
  border: 5px solid green;
}

.green-chip {
  left: -255%;
}

.yellow {
  border: 5px solid yellow;
}

.yellow-chip {
  left: -375%;
}

.pink {
  border: 5px solid pink;
}

.pink-chip {
  right: -10px;
}

.active-palyer {
  border: 1px solid #835331;
  box-shadow: 5px 5px 15px #ffcca7;
}

// .player button {
//   background-color: #268932;
//   // background-image: linear-gradient(to bottom, #247f33, #2c923e);
//   font-size: 1em;
//   text-transform: uppercase;
//   text-decoration: none;
//   border: solid 1px #2d9641;
//   outline: none;
//   border-radius: calc(0.3em*1);
//   box-shadow: 0px 2px 3px rgb(0 0 0 / 15%);
//   text-shadow: 0px 1px 1px rgb(255 255 255 / 25%);
//   font-weight: 500;
//   color: rgba(0, 0, 0, .75);
//   white-space: nowrap;
//   cursor: pointer;
//   // position: absolute;
//   // width: 50%;
//   // height: 100%;
//   padding: 10px;
//   margin-top: 5%;
//   font-size: 100%;
//   line-height: 1;
// }

// .player button:hover {
//   background: #1f7429;
//   border: solid 1px #1f7429;
//   box-shadow: 2px 1px 3px #18591f;
// }