.name-block {
  display: flex;
}


.name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.name-chip-block {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 150px;
}

.name-chip-block img {
  position: absolute;
  width: 610%;
  height: 200%;
  object-fit: cover;
  border-radius: 50%;
}

.picture-player-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.picture-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid black;
}

.red {
  border: 10px solid red;
}

.red-chip {
  left: 0px;
}

.blue {
  border: 10px solid blue;
}

.blue-chip {
  left: -125px;
}

.green {
  border: 10px solid green;
}

.green-chip {
  left: -250px;
}

.yellow {
  border: 10px solid yellow;
}

.yellow-chip {
  left: -380px;
}

.pink {
  border: 10px solid pink;
}

.pink-chip {
  right: 0px;
}