.players {
  width: 15%
}

.player {
  height: 20%;
  border: 1px solid #CB8C5F;
  font-size: 65%;
  box-shadow: 1px 1px 15px #714E35;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.picture-block {
  display: flex;
}

.name-block {
  display: flex;
}

.name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #81BE74;
}

.description-player h3 {
  color: #CB9C7C;
}

.description-player span {
  color: #CB8C5F;
}

.name-chip-block {
  position: relative;
  overflow: hidden;
  width: 60%;
}

.name-chip-block img {
  position: absolute;
  width: 610%;
  height: 200%;
  object-fit: cover;
}

.picture-player-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 50%;
  height: 50%;
}

.picture-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid black;
}

.red {
  border: 5px solid red;
}

.red-chip {
  left: -5%;
}

.blue {
  border: 5px solid blue;
}

.blue-chip {
  left: -130%;
}

.green {
  border: 5px solid green;
}

.green-chip {
  left: -255%;
}

.yellow {
  border: 5px solid yellow;
}

.yellow-chip {
  left: -375%;
}

.pink {
  border: 5px solid pink;
}

.pink-chip {
  right: -10px;
}